.Title{
	text-align: center;
	font-weight: bold;
}
.Name{
	text-align: center;
	font-weight: normal;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table {
  font-family: arial, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
